@font-face {
    font-family: 'Benton Gothic Regular';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.eot');
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.woff') format('woff'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Regular Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Bold';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.eot');
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.woff') format('woff'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Bold Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Black';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Black Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Regular';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Regular Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-regular-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Bold';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-bold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Bold Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-bold-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Black';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-black.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Black Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-black-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Light';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-light.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Light Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-light-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Medium';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-medium.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Medium Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-medium-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}



body { cyber
    padding: 0 0 30px;
}

#mapmakerVersion {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #4591B8;
}

.leaflet-control-scale-line {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#container {
    width: 98%;
    margin: 0 auto;
}

/* grid city */
#grid_holder {
    padding: 0;
    overflow:hidden;
    margin: -30px 0 0 0;
    height: 1000px;
    width: 1500px;
    position: absolute;
}

.grid {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    position: absolute;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}

#map_options #geo_files {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#zoom_to_geojson {
    cursor: pointer;
    display: none;
    clear: both;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 12px;
}


/* print column grid */
.printCol {
    border-right: 1px solid #4affff;
    border-bottom: none;
    border-left: none;
    border-top: none;
    position: relative;
    float: left;
    margin: 0;
}

.grid330 div:nth-child(odd), #grid_holder div.printCol:nth-child(odd) {
    background: rgba(0,0,0,0.05);
}

.grid100 {
    margin: -70px 0 0 -75px;
}

.grid100 div {
  border-color: #aaa;
}

.grid50 {
  opacity: 0.5;
  margin: -20px 0 0 -25px;
  border: none;
}

#map_area {
    min-height: 1000px;
    min-width: 1500px;
}

#map_ruler {
    font-family: 'Curior', monospace;
    font-size: 12px;
    margin: 0 0 0 25px;
    width: 2000px;
    height: 0;
}

#map_ruler div {
    height: 12px;
}

#map_ruler span {
    display: inline-block;
    margin: 0 0 0 4px;
    line-height: 100%
}

#col_ruler span {
    width: 326px;
}

#pixel_ruler span {
    width: 96px;
}

#map_holder {
    padding: 0;
    width: 1310px;
    height: 730px;
    margin: 25px 0 0 25px;
}

.ui-resizable-handle {
    z-index: 9999 !important;
}

#map {
    width: calc(100%-10px);
    height:100%;
    margin: 0 10px 10px 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

#map canvas {
    background: none !important;
}

/* hide canvas */
#canvas {
    display: none;
}

.ui-icon-gripsmall-diagonal-se {background-position: -81px -224px; right: 10px;}

label {font:18px/27px Georgia, serif;}

.map-info {
    font-family: 'Benton Gothic Regular', Arial, sans-serif;
    display: inline-block;
    margin: 5px 10px 0 0;
}

#map_size {
    font-family: 'Benton Gothic Regular', Arial, sans-serif;
    float: right;
    padding: 0 10px 0 0;
}

#map_options {padding: 0 0 20px;}
#map_options form { margin: 0 }
#map_options input { margin: 0 0 6px; }

.map_option {
    float: left;
    margin: 0 10px 0 0;
}

#terrain-img {
    visibility: hidden;
}

#popupContainer {
    font-family: 'Benton Gothic Regular', Arial, sans-serif;
    font-size: 20px;
}

.footnote {font-family:arial; font-size:12px; color:#666;}
/*.leaflet-control-zoom{display:none;}*/
.header{text-transform: uppercase; font-weight:bold; font-family:Arial; font-size:12px;}
.leaflet-popup {
    margin-bottom: 26px;
}
.leaflet-popup-content-wrapper{background-color:#000;}
.leaflet-popup-content{
    font:bold 34px/40px 'Benton Gothic Bold', Arial, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
}
.leaflet-popup .leaflet-zoom-animated{bottom:0px !important;}
.leaflet-control-attribution {
    font-size: 22px !important;
    height:34px;
    color:#777;
    padding: 4px 9px 0;
}
.leaflet-container .leaflet-control-attribution {
    background: rgba(255,255,255,0.9);
}

.leaflet-control-attribution a { display: none; }
.leaflet-control-scale-line{
    font-size: 16px !important;
    height:26px;
    border: 2px solid #999;
    border-color: rgba(0,0,0,.4);
    border-top: 0;
}

/*.leaflet-marker-icon {display:none;}*/

.leaflet-popup-tip-container {
    width: 20px;
    height: 27px;
    margin: 0 0 0 -18px
    position: relative;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #000;
    box-shadow: none;
}

.leaflet-popup-tip {
    padding: 0;
    width: 50px;
    height: 30px;
    margin-left: -9px;
    background: url(../images/popup-tip.png) top left no-repeat;
     -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
     transform: rotate(0deg);
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #000;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #fff;
}


/*tooltip*/

#tooltip {
        position: absolute;
        z-index: 2014;
        opacity: 0;
        height: 0;
    }
#tooltip p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #aaa;
    margin: 0px;
}

#popupText {
    width: 100%;
    display: inline-block;
    max-width: 325px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #333;
    border-radius: 0px;
    padding: 8px 1px;
    margin: 0px 10px 0 0;
    box-shadow: none;
    font-family: "Benton Gothic Regular", Arial, sans-serif;
}

#geocodifier {
    display: inline-block;
    min-width: 300px;
    margin: 0 0 0 10px;
}

#popupText:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #4591B8;
}
#export-container {
    display: none;
}
.map_loader {
    width: 20px;
    margin: 0 0 0 10px;
}

#warning_msg {
    color: red;
    display: inline-block;
    margin: 0 0 0 20px;
    animation: blink-animation 5s steps(7, start) infinite;
    -webkit-animation: blink-animation 5s steps(7, start) infinite;
}

.leaflet-control-attribution {
    height: auto;
    font-family: 'Benton Gothic Regular', Arial, sans-serif;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#canvas {
    /*visibility: hidden;*/
}

.ui-resizable-e {
    width: 14px;
}

.ui-resizable-s {
    bottom: -15px;
    height: 14px;
}

#transit_btn, #buildings_btn {
    opacity: 0.5;
}

p.description {
    max-width: 800px;
}

/* layer dropdown */
.multiselect {
    width: 200px;
    cursor: pointer;
}

.multiselect select {
    margin-bottom: 0px;
}

#map_options .multiselect label input {
    margin: 2px 5px 5px;
}

.selectBox {
    position: relative;
    height: 34px;
    margin: 3px 0 0 0;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #b5b5b5;
    color: #acacac;
    font-family: Arial,sans-serif;
    border-radius: 6px;
}

.selectBox select {
    color: #acacac;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
    height: 34px;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    position: absolute;
    z-index: 1000;
    background: #fff;
    width: 600px;
    padding: 5px 0;
    max-height: 400px;
    overflow-y: scroll;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

#checkboxes label {
    display: block;
    font-family: 'Benton Gothic Regular', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#checkboxes .inset {
    margin: 0 0 0 15px;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#checkboxes .unavailable {
    opacity: 0.3;
}

.custom_label {
    /*min-width: 200px;*/
    display: inline-block;
}

.custom_label .rotate_handle {
    display: block;
    margin: 3px 10px 0 0;
    float: left;
}

.text-label span {
    display: inline-block;
}

.text-label textarea {
    display: none;
}

.text-label span, .text-label textarea {
    width: auto;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    cursor: move;
    letter-spacing: 1px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0);
    color: #000;
    background: none;
}

.small_label span, .small_label textarea {
    font-size: 26px;
    line-height: 30px;
    font-family: 'Benton Gothic Regular', Arial, sans-serif;
}

.medium_label span, .medium_label textarea {
    font-size: 34px;
    line-height: 38px;
    font-family: 'Benton Gothic Bold', Arial, sans-serif;
}

.text-label textarea:focus {
    border: 1px dashed #666;
}

.label-size-btn {
    display: inline-block;
    margin: 0 5px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #333;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 2px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 24px;
  background: #333;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 2px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: #333;
  cursor: pointer;
}

.nonwhite input[type=range]::-webkit-slider-thumb {
  background:#EAA12F;
}
.nonwhite input[type=range]::-moz-range-thumb {
  background:#EAA12F;
}
.nonwhite input[type=range]::-ms-thumb {
  background:#EAA12F;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #D1D2D4;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #D1D2D4;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #D1D2D4;
  border-radius: 1.3px;
  border: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #D1D2D4;
  border: none;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #D1D2D4;
}
input[type=range]::-ms-fill-upper {
  background: #D1D2D4;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #D1D2D4;
}

#zoom_lock {
    cursor: pointer;
}
.fa-unlock-alt {
    color: #d1d2d4;
}
