.geocodifier-form {
    width: 90%;
    max-width: 325px;
    position:relative;
}

.geocodify-dropdown {
    font-family: "Benton Gothic Regular", Arial, sans-serif;
    position: absolute;
    display: block;
    z-index: 9003;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    border-top-color: #D9D9D9;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.geocodify-input[type="text"] {
    width: 100%;
    max-width: 325px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #333;
    border-radius: 0px;
    padding: 8px 1px;
    margin: 0px;
    box-shadow: none;
    font-family: "Benton Gothic Regular", Arial, sans-serif;
}

.geocodify-input[type="text"]:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #4591B8;
}

.geocodify-dropdown ul {
    margin: 0;
    padding: 0;
}

.geocodify-dropdown li {
    display: block;
    padding: 5px 0 5px 8px;
    cursor: pointer;
    margin: 0;
    list-style-type: none;
    text-align: left;
    font: 14px "Benton Gothic Regular", Arial, sans-serif;
}

.geocodify-dropdown li.active,
.geocodify-dropdown li:hover {
    background-color: #4591B8;
    color: #fff;
}

#bing-geocodifier-status{
    pointer-events:none;
    font: 14px "Benton Gothic Regular", Arial, sans-serif;
    position: absolute;
    display: block;
    z-index: 9002;
    width: calc(100% - 8px);
    margin: 0;
    padding: 5px 0 5px 8px;
    background-color: white;
    border-top-color: #D9D9D9;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
