@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('/fonts/open-sans-condensed/light/OpenSans-CondLight-webfont.woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Open Sans Condensed Light Italic';
    src: url('/fonts/open-sans-condensed/italic-light/OpenSans-CondLightItalic-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('/fonts/open-sans-condensed/bold/OpenSans-CondBold-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
 .map-info {
    font-family: 'Open Sans Condensed Light', Arial, sans-serif;
 }

 #map_size {
    font-family: 'Open Sans Condensed Light', Arial, sans-serif;
 }

 #popupContainer {
    font-family: 'Open Sans Condensed Light', Arial, sans-serif;
 }
 .leaflet-popup-content{
    font:bold 34px/40px 'Open Sans Condensed Bold', Arial, sans-serif;
 }
#popupText {
    font-family: "Open Sans Condensed Light", Arial, sans-serif;
 }

 .leaflet-control-attribution {
    font-family: 'Open Sans Condensed Light', Arial, sans-serif;
 }
 #checkboxes label {
    font-family: 'Open Sans Condensed Light', Arial, sans-serif;
 }

 .custom_label {
    background-color: #ccc;
    border: 1px solid #333;
    padding: 0 5px;
 }

 .custom_label .rotate_handle {
    letter-spacing: 0px;
    color: #333;
 }

 .small_label span, .small_label textarea {
    font-family: 'Open Sans Condensed Light', Arial, sans-serif;
 }

 .medium_label span, .medium_label textarea {
    font-family: 'Open Sans Condensed Bold', Arial, sans-serif;
 }
